<div>
  <!--navigation bar-->
  <div class="navigation">
    <div class="horiz-grid">
      <div class="logo">BOOKING</div>
      <div class="horiz-grid">
        <span class="btn" routerLink="search" routerLinkActive="active"
          >SEARCH</span
        >
        <span class="btn" routerLink="cart" routerLinkActive="active">
          CART ({{cart.items.length}})
        </span>
        <span class="btn">LOGOUT</span>
      </div>
      <em>Carlo Tacchella</em>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
